<div class="row">
  <div class="col-md-5 col-md-offset-1 well">
  	<div class = "ad">
  		<p><h1 class="text-center"> Get Music Costumized For Every Event </h1>
  		<img src="https://ae01.alicdn.com/kf/HTB1DUj_QXXXXXX9XFXXq6xXFXXXA/Painted-by-Hand-Oil-Paintings-font-b-Listen-b-font-to-font-b-Music-b-font.jpg" id = "music_pic"> </p>
  	</div>
  </div>
  <div class = "container-fluid">
	    <div class="col-md-4 col-md-offset-1">
	  	    <div class = "well sign_up">
	  	 	
		 	 	<h3 class = "text-center">Sign In</h3>
		 	 	<%= form_for "/" do |f| %>
			 	  <div class = "form-group">
				 	 	<%= f.label :Username %>
				 	 	<%= f.text_field :Username, class: 'form-control'%>
			 	  </div>
			 	  <div class = "form-group">
				 	 	<%= f.label :password %>
				 	 	<%= f.password_field :password, class: 'form-control'%>
			 	  </div>
			 	  <div class = "text-center">
			 	  	<%= f.submit 'Submit', class: 'btn btn-default' %>
			 	  </div>
		 	 	<%end%>
		 	 
	 	    </div>
		 	<div class = "well">
		 	 	<h3 class = "text-center"> News </h3>
		 	 	<table style="width:100%">
		 	 		<tr class = "news">
		 	 			<td class = "news_border">Jan 20, 2017</td>
		 	 			<td class = "text-center">Drake released New Album</td>
		 	 		</tr>
		 	 		<tr class = "news">
		 	 			<td class = "news_border">March 30, 2017</td>
		 	 			<td class = "text-center">Something hit top charts</td>
		 	 		</tr>
		 	 		<br>
		 	 		<tr class = "news">
		 	 			<td class = "news_border">May 31, 2017</td>
		 	 			<td class = "text-center">Beatles Dead</td>
		 	 		</tr>
			 	</table>
		 	</div>
	 	</div>
	  </div>
	</div>
</div>